* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #1f4068, #162447);
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

h1 {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 40px;
    font-size: 2.5rem;
   color:goldenrod;
}

h1 img {
    width: 80px;
    height: auto;
}

.game {
    background: #2c2c2b;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(214, 208, 208, 0.5);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.elegir {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 30px;
}

.choice {
    background-color: #6edff9;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    flex: 1;
}

.choice:hover {
    background-color: #f71212;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(228, 63, 90, 0.4);
}

.choice:active {
    transform: translateY(0);
}

.resultado {
    background: #8f929590;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

.resultado p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color:#ffffff ;
}

.resultado p:last-child {
    margin-bottom: 0;
}


.box-outcome {
    background: rgba(0, 243, 255, 0.03); /* Fondo oscuro semi-transparente */
    border-radius: 6px; /* Esquinas ligeramente suavizadas */
    padding: 15px 25px; /* Espaciado interno para que el texto respire */
    margin: 15px auto; /* Margen para separarlo de otros elementos */
    max-width: 450px; /* Ancho máximo para que no se deforme en PC */
    width: 90%; /* Adaptable a pantallas de móviles */
    box-shadow: 0 0 15px rgba(0, 243, 255, 0.1), inset 0 0 15px rgba(0, 243, 255, 0.05); /* Brillo holográfico exterior e interior */
    backdrop-filter: blur(5px); /* Efecto de cristal esmerilado de fondo */
    transition: all 0.3s ease;
}

/* Estilo para el texto que va dentro */
#outcome {
    font-size: 1rem;
    color: #ffffff;
    background-color:rgba(246, 182, 20, 0.734);
    padding: 20px 20px;
    letter-spacing: 1px;
    line-height: 1.4;
    text-align: center;
}
